<!--   
<p>
  profile-edit works!
</p>
-->

<div id="contentContainer" class="contentContainer">
  <form 
    (submit)="onClickUpdate()"
    id="editProfileForm"
    class="editProfileFormClass">
    <label id="firstNameLabel" class="firstNameLabelClass">First Name:</label>
    <input 
      type="text" 
      name="editFirstName"
      id="editFirstName" 
      class="editFirstNameClass" 
      [(ngModel)]="editUser.firstName">
    <label id="lastNameLabel" class="lastNameLabelClass">Last Name:</label>
    <input 
      type="text" 
      id="editLastName" 
      name="editLastName"
      class="editLastNameClass" 
      [(ngModel)]="editUser.lastName">
    <label>Email:</label>
    <input 
      type="text" 
      id="editEmail" 
      name="editEmail"
      class="editEmailClass" 
      [(ngModel)]="editUser.email">
    
    <label id="birthdayLabel" class="birthdayLabelClass">Birthday:</label><br>
    <input 
      type="date" 
      id="editBirthday" 
      name="editBirthday"
      class="editBirthdayNameClass" 
      [(ngModel)]="editUser.birthday">
    <input 
      type="submit"
      id="editSumbit"
      name="editSubmit"
      class="editSubmitClass"
      value="Update Profile">
  </form>
  <form 
    (submit)="onClickChangePassword()"
    id="updatePasswordForm"
    class="updatePasswordFormClass"> 
    <label>Old Password:</label>
    <input 
      type="text" 
      id="oldPassword" 
      name="oldPassword"
      class="oldPasswordClass" 
      [(ngModel)]="newCredentials.oldPassword">
    <label>New Password:</label>
    <input 
      type="text" 
      id="newPassword" 
      name="newPassword"
      class="newPasswordClass" 
      [(ngModel)]="newCredentials.newPassword">
      <label>Password Confirm:</label>
    <input 
      type="text" 
      id="newPasswordConfirm" 
      name="newPasswordConfirm"
      class="newPasswordConfirmClass" 
      [(ngModel)]="newCredentials.passwordConfirm">
    <input 
      type="submit"
      id="updatePasswordSumbit"
      name="updatePasswordSubmit"
      class="updatePasswordSubmitClass"
      value="Change Password">    
  </form>
</div>    

