<p>
  cellar-list works!
</p>
<!-- {{_wineService.currentCellar | async | json }} -->
<br>
{{(_wineService.currentCellar | async ).cellarItems | json }}
<div id="listContainer">
  <table>
    <th>Producer</th>
    <th>Domain</th>
    <th>Varietal(s)</th>
    <th>Cuvee</th>
    <th>Vintage</th>
    <th>Country</th>
    <th>Region</th>
    <th>Appellation</th>
    <th>Storage Location</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Purchase Location</th>
    <th>Purchase Date</th>
    <tr *ngFor="let item of (_wineService.currentCellar | async).cellarItems">
      <td>{{item.wine.producer}}</td>
      <td>{{item.wine.domain}}</td>
      <td>{{item.wine.varietal}}</td>
      <td>{{item.wine.cuvee}}</td>
      <td>{{item.wine.vintage}}</td>
      <td>{{item.wine.country}}</td>
      <td>{{item.wine.region}}</td>
      <td>{{item.wine.appellation}}</td>
      <td>{{item.storageLocationId}}</td>
      <td>{{item.quantity}}</td>
      <td>{{item.price}}</td>
      <td>{{item.purchaseLocation}}</td>
      <td>{{item.purchaseDate | date:'shortDate'}}</td>
      <td>
        <button (click)="onClickEdit(cellar)" id="editButton" class="editButtonClass">Edit</button>
        <button (click)="onClickDelete(cellar)" id="deleteButton" class="deleteButtonClass">Delete</button>
        <button (click)="onClickShow(cellar)" id="showButton" class="showButtonClass">Show</button>
       </td>
    </tr>
  </table>

</div>